atlassian-ide-plugin.xml

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

cmake-build-*/
build/
out/
bin/

.gradle
.gradle/**

.idea/**
.idea
*.iws

node_modules/**
node_modules

.vscode/
.DS_Store

server/**/out/
server/**config/*.local.properties

/client/test/resources/report
/client/test/resources/test-results
/client/.svelte-kit/
/client/.env

/server/.classpath
/server/.factorypath
/server/.project
/server/.settings/

/.opencode/
.claude/settings.local.json
/server/openapi.json
